<h1>All Movies</h1>

<table>
  <thead>
    <tr>
      <th><%= sortable("title", "Title") %></th>
      <th><%= sortable("rating", "Rating") %></th>
      <th><%= sortable("release_date", "Release Date") %></th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Delete', movie_path(movie), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="6">
        Total Movies: <%= @movies.count %>
      </td>
    </tr>
  </tfoot>
</table>

<br>

<%= link_to 'Add new movie', new_movie_path %>